html {
    margin: 0;
    padding: 0;
    background-color: rgb(0, 0, 0);
    height: 100%;
    width: 100%;
    overflow: hidden;
    font-family:'Roboto Slab', serif, sans-serif;
    font-weight: bolder;
    color: aliceblue;
}

body {
    position: relative;
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    overflow: hidden;
}

#Wrapper {
    /*cursor: none;*/
    fill: black;
    /* background-image: url("img/Jupiter_01.jpg"); */
    background-color: #0d1f29;
    background-size: cover;

    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: center center;
    border-style: dashed;
    border-width: 0px;
    border-color: tomato;
    height: auto;
    width: 100%;
    pointer-events: none;
}


#Header {
    z-index: 10;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0) 100%);
    position: fixed;
    width: 100%;
    height: 140px;
    display: flex;
    border-color: rgb(146, 60, 60);
    border-width: 0px;
    border-style: solid;
    justify-content: space-between;
    pointer-events: none;

    flex: 1;
    flex-flow: row;
    margin-right: 0px;
}

.wave {
    position: relative;
    height: 200px;
    width: 100%;
    background-color: rgba(187, 141, 141, 1);;
    clip-path: polygon(
       0 0,
       100% 0,
       100% 100%,
       0 100%,
       0 0
    );
    pointer-events: none;
  }
  
  .wave::before {
    pointer-events: none;
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0) 80%);
    
    clip-path: polygon(
        0 0,
       100% 0,
       100% 60%,

        30% 60%,
        50% 60%,
        70% 60%,

       
       0 60%
    );
    
  }

.drop-in-0 {
    animation: drop-in 1s ease 200ms backwards;
}

.drop-in-1 {
    animation: drop-in 1200ms ease 500ms backwards;
}
   
.drop-in-2 {
    animation: fade-in 1600ms ease 100ms backwards;
}

.drop-in-3 {
    animation: drop-in 2100ms ease 1200ms backwards;
}
   
@keyframes drop-in {
    from {
     opacity: 0;
     transform: translateY(-120px);
    }
    to {
     opacity: 1;
     transform: translate(0px);
    }
}

@keyframes fade-in {
    from {
        opacity: 0;
       }
       to {
        opacity: 1;
       }
}

button {
    all: unset;
    width: 80px;
    height: 24px;
    text-align: center;
    border-radius: 4px;
    border-style: solid;
    border-width: 1px;
    border-color:rgb(255, 255, 255);
    transition: background-color 0.3s;
}

button:hover {
    cursor: pointer;
    background-color: #24323a;
}

.mainContainer {
    position: absolute;
    width: 100%;
    height: 80vh;
    display: flex;
    flex-direction: column;
    top: 100px;
    border: 0px;
    border-color: red;
    border-style: solid;
    align-items: center;
    color: #eee;
}

#canvas, #canvas2{
    pointer-events: none;
    position: absolute;
    border-style: dashed;
    border-color: violet;
    border-width: 0px;
    z-index: 0;
    opacity: 0.1;

}

#orbit {
    position: absolute;
    pointer-events: all;
    margin-left: 20px;
    margin-top: 10px;
    margin-right: -20px;
    height: 50%;
    border-width: 0px;
    border-style: solid;
    border-color: aliceblue;
    /*position: absolute;*/
    scale: 1;
    animation: spin 5s linear infinite;
}

#orbit:hover {
    animation: spin 5s linear infinite;
}

@keyframes spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
}


#dinoButton {
    pointer-events: all;
    image-rendering: pixelated;
    scale: 2;
    position: absolute;
    left: 20px;
    opacity: 0.1;
    transition: opacity 0.5s;
    display: none;
}

#dinoControlsBox {
    pointer-events: all;
    opacity: 1;
    display: flex;
    flex-direction: column;
    position: absolute;
    left: 80px;
    top: -16px;
    height: 28px;
    width: 80px;
    align-items: center;
    border-radius: 4px;
    border-width: 1px;
    border-style: solid;
    border-color: aliceblue;
    transition: all 0.5s;
    overflow: hidden;
    display: none;
}

#dinoControlsBox:hover {
    height: 120px;
    width: 220px;
    left: 10px;
}

.dinoControls {
    align-items: center;
    margin-top: 12px;
    margin-left: 20px;
    margin-right: 20px;
}

#character_a, #character_b {
    display: none;
    image-rendering: pixelated;
    position: absolute;
    scale: 2;
    border-radius: 4px;
    border-width: 0px;
    border-style: solid;
    border-color: aliceblue;
    filter: drop-shadow(4px -2px 3px rgba(0, 0, 0, 0.5));
}

.key {
    border-radius: 4px;
    border-width: 1px;
    border-style: solid;
    border-color: aliceblue;
    min-height: 20px;
    min-width: 20px;
    max-height: 20px;
    max-width: 20px;
    margin: 2px;
}

#dinoButton:hover {
    opacity: 0.3;
    cursor: pointer;
}

#dinoOptions {
    pointer-events: all;
    width: 100%;
    height: 100%;
    display: none;
    border-width: 0px;
    border-style: solid;
    border-color: aliceblue;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.formLine {
    display: block;
    text-align: center;
    margin-bottom: 0px;
    height: 20px;
}

#submitButton {
    all: unset;
    margin-top: 20px;
    width: 80px;
    height: 24px;
    text-align: center;
    border-radius: 4px;
    border-style: solid;
    border-width: 1px;
    border-color:rgb(255, 255, 255);
    transition: background-color 0.3s;
}

#submitButton:hover {
    cursor: pointer;
    background-color: #24323a;
}

.nameTag {
    width: 200px;
    text-align: center; 
    display: none;
    position: absolute;

}

#helloModule {
    width: 96%;
}

#myInfo {
    display: flex;
    width: 96%;
    height: fit-content;
    border: 0px;
    border-style: solid;
    border-color: rgb(126, 26, 26);
    align-items: flex-start;
    margin-top: 80px;
    margin-bottom: 60px;
}

#iLike {
    transition: opacity 0.5s ease-in-out;
}

#projects {
    display: flex;
    width: 96%;
    border: 0px;
    border-style: solid;
    border-color: rgb(26, 79, 126);
    align-items: flex-start;
    
}

.tagContainer {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
}


.projectTag {
    pointer-events: none;
    color: inherit;
    text-decoration: none;
    display: flex;
    flex-direction: row;
    white-space: nowrap;
    width: 100px;
    height: 32px;
    margin-bottom: 10px;
    border-radius: 4px;
    border-style: solid;
    border-width: 1px;
    border-color:rgb(255, 255, 255);
    text-align: center;
    transition: width 0.5s, opacity 2s;
    overflow: hidden;
    opacity: 0;
}

.projectTag:hover {
    background-color: #24323a;
}

#tagSelector {
    min-width: 10px;
    min-height: 28px;
    border-radius: 4px;
    position: absolute;
    opacity: 0;
    transition: opacity 1s;
    background-color: white;
}

.marker {
    position: absolute;
    top: 0;
    left: 0;
    width: 100px;
    height: 5px;
    background-color: red;
    border-radius: 5px;
    transition: transform 0.3s ease-in-out;
}


.projectPreview {
    font-weight: bolder;
    color: aliceblue;
    font-size: 24px;
    display: flex;
    background: linear-gradient(to top, rgba(0, 0, 0, 255), rgba(0, 0, 0, 0.5) 90%);
    margin-right: 20px;
    margin-left: 20px;
    height: 180px;
    width: 320px;
    overflow: hidden;

    border-radius: 14px;
    border-style: solid;
    border-width: 1px;
    border-color:rgb(255, 255, 255);

    transition: height 0.5s;

    justify-content: flex-start;
    align-items: center;
    flex-direction: column; 
}

.projectPreview:hover {
    box-shadow: 0px 0px 20px 5px rgba(255, 255, 255, 0.4);
    height: 280px;
}

.anchorButton {
    display: block;
    width: 115px;
    height: 25px;
    background: #073541;
    padding: 10px;
    text-align: center;
    border-radius: 5px;
    color: white;
    font-weight: bold;
    line-height: 25px;
}

.anchorButton:hover {
    background: #0f758f;
}

.footer {
    width: 100%;
    position: absolute;
    bottom: 0px;
}

.infoCollapsible {
    font-weight: bolder;
    color: rgb(179, 179, 179);
    background-color: darkslategray;
    cursor: pointer;
    padding: 10px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 22px;
}

.infoCollapsible:hover {
    background-color: #eee;
    color: rgb(97, 97, 97);
}

.infoContent {
    font-weight: bolder;
    color: rgb(179, 179, 179);
    font-size: 10px;
    font-weight: 500;
    background-color: aquamarine;
    padding: 4px;
    max-height: 0;
    color: black;
    transition: max-height 0.2s ease-out;
}

#project {
    display: flex;
    height: 100%;
    width: 100%;

}


@media only screen and (min-width: 768px) {
    #helloModule {
        margin-top: 70px;
    }
    #myInfo{
        margin-top: 70px;
        margin-bottom: 80px;
    }

    #myInfo, #projects, #helloModule {
        width: 80%;
    }
    #infoText {
        max-width: 588px;
    }
}

@media only screen and (min-width: 940px) {
    #helloModule {
        margin-top: 90px;
    }
    #myInfo{
        margin-top: 80px;
        margin-bottom: 100px;
    }
    #myInfo, #projects, #helloModule {
        width: 60%;
    }
    #infoText {
        max-width: 588px;
    }
    #dinoButton {
        display: block;
    }
}